/*kaeya main conmentario gaming*/

*{
    margin: 0;
}

a{
    text-decoration: none;
    color:rgb(46, 161, 56);
}

header{
    color:rgb(19, 66, 23);
    border: 1px solid;
    
    padding: 10px;
    max-width:1200px ;
    margin: 0px auto;
}
header h1 {
    font-size: 40px;
    border-bottom: 5px solid;
    font-weight: lighter;
    font-style: italic;
}
main{
    text-align: center;
    color: rgb(110, 110, 110);
    padding: 20px;

}
main #principal{
    width: 100% ;
    height: 400px;
    background-image: url(../img/catalien.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 200px;
}

main #principal div{
background-color:rgba(36, 167, 47, 0.398);
max-width: 50%;
margin:0 auto;


}

main #principal h1{
    font-size: 25px;
    text-align: center;

}

main #principal p{
    font-size:20px;

}

main #artigos{
    max-width: 1200px;
    margin: 0 auto;

}
main article{
    display: inline-block;
    border: 1px solid rgb(28, 87, 33);
    border-radius: 9px;
    margin-top: 20px;
    box-shadow: 3px 3px 8px rgb(46, 161, 56);


}

article div.img{
    width: 100%;
    height: 120px;
    background-size: cover;
    border-radius: 8px 8px 0;
    border: 1px solid rgb(46, 161, 56);
}

#l1{
    background-image: url("../img/alien2.jpg");
    background-size: cover;
}
#l2{
    background-image: url("../img/olho alien.jpg");
    background-size: cover;

}
#l3{
    background-image: url("../img/vqrios alien.jpg");
    background-size: cover;

}

#l4{
    background-image: url("../img/pisicoalindo.jpg");
    background-size: cover;

}

#l5{
    background-image: url("../img/levendoalien.jpg");
    background-size: cover;

}
    

footer{
    border: 1px solid;
    color: white;
    padding: 50px;
    text-align: center;
    color: darkgrey;
}

body{
background-color: rgb(12, 29, 14);    
}

header ul{
    list-style-type:none;
    margin-top: 10px;
    border-top: 2px solid rgb(94, 179, 101);
    border-bottom: 2px solid rgb(94, 179, 101);
    text-align: center;
}
header ul li{
    display: inline-block;
}
header ul li a{
    padding: 20px;
    display: inline-block;
}
header ul li a:hover{
    background-color:rgb(94, 179, 101);
    color:black


}
